.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.App {
    width: 450px;
    height: 450px;
    box-shadow: 0.2em 0.3em 0.5em dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-control label {
    margin-bottom: 10px;
}

.form-control input {
    width: 250px;
    border-radius: 15px;
    border: 1px solid dodgerblue;
    padding: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.button {
    width: 185px;
    border-radius: 12px;
    background-color: dodgerblue;
    color: white;
    height: 30px;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(80, 167, 253);
}